<div class="row">
  <div class="col-md-4">
    <h2>About Nimblist</h2>
    <p>Nimblist is a nimble to-do list.</p>
    <p>It provides easy management of your to-dos from anywhere and automatically deletes old to-dos to keep you on task.</p>
  </div>
  <div class="col-md-4">
    <h2>Hello!</h2>
    <p>I'm Joshua Zapata, the creator of Nimblist.</p>
    <p>If you like my work, I'd love to get in touch with you. You can contact me and learn more about my experience on my portfolio page.</p>
    <%= link_to "About me", "http://www.joshuazapata.com", :class => "btn btn-primary btn-lg" %>
  </div>
</div>
