<div class="row">
  <div class="col-md-4">
    <h2>About Nimblist</h2>
    <p>Nimblist is a nimble to-do list.</p>
    <p>It provides easy management of your to-dos from anywhere and automatically deletes old to-dos to keep you on task.</p>
  </div>
  <div class="col-md-4">
    <h2>About the creator of Nimblist</h2>
    <p>Hello! I'm Joshua Zapata, the creator of Nimblist.</p>
    <p>If you like my work, I'd love to get in touch with you. You can contact me and learn more about my experience on my contact page.</p>
    <p><button class="social-btn"><%= link_to "Follow me", "http://www.joshuazapata.com" %></button></p>
  </div>
</div>
