<br>
<div class="jumbotron">
  <h1>Nimblist</h1>
  <h2>Frequently Asked Questions</h2>
</div>

<div>
  <h3>What is this FAQ?</h3>
</div>

<div>
  <p>This FAQ (or Frequently Asked Questions) lists questions and answers pertaining to Nimblist which tend to recur.</p>
</div>
