<br>
<div class="jumbotron">
  <h1>Nimblist</h1>
  <p>Nimblist is a to-do app for keeping you on task!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Easy management of your to-dos from anywhere</h2>
    <p>Nimblist keeps you on task while you're out and about.</p>
  </div>
  <div class="col-md-4">
    <h2>Automatically deletes old to-dos</h2>
    <p>Nimblist will automatically delete to-do items that have not been completed after seven days.</p>
  </div>
  <div class="col-md-4">
    <h2>Keeps you on task</h2>
    <p>If the to-do item is not important enough to be completed in seven days, it doesn't belong on your nimble to-do list.</p>
  </div>
</div>
