<% if current_user.items.any? %>
  <% current_user.items.each do |item| %> 
    <p><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %> | <%= item.name %></p>
  <% end %>
<% end %>